body {
    background-color: #161616;
    color: white;
    font-family: 'Righteous', cursive;
    margin: 0px;
    margin-bottom: 1000px;
}

.button > a{
    color: white;
    padding: 6.5px 9px;
    border-radius: 10%;
    text-decoration: none;
    font-size: 20px;
}

.button > a:hover {
    background-color: white;
    color: #363636;
}

#page {
    margin: 0px 30px;
    padding-top: 80px;
}

#menu {
    background-color: #363636;
    position: fixed;
    z-index: 99999999;
    width: 100%;
}

#inner-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.menu-logo-outer {
    width: 40px;
}
.menu-logo {
    border-radius: 50%;
    width: 40px;
}

.button-outer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100px;
    height: 40px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-h1 {
    font-size: 64px;
    text-align: center;
    margin: 0px;
}

.sites-info {
    /* border: 1px solid rgb(91, 184, 60); */
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center;
}

.site {
    /* border: 1px solid rgb(206, 88, 88); */
    display: flex;
    flex-basis: 50%;
    height: 250px;
    float: left;
}

.logo-div, .text-div {
    /* border: 1px solid white; */
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-div {
    height: 100%;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
}

.logo-div {
    width: 250px;
    aspect-ratio: 1/1;
}

.logo {
    border-radius: 50%;
    width: 125px;
}

.site-h {
    margin: 0px;
}

.text-l2 {
    flex-basis: 100%;
}

.text-l1, .text-l2 {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    height: 20%;
}

.text-shrink {
    width: 60%;
}